@import '../colors&fonts.scss';

.study-plan {
  position: absolute;
  margin-top: 900px;
  width: 100%;
  margin-left: 138px;

  h1 {
    font-family: 'JetBrains Mono NL Light';
    font-size: 75px;
    line-height: 70px;
    width: 360px;
    color: $baseColor;
  }
  .main-line {
    position: absolute;
    margin-left: 10px;
    margin-top: 6px;
    border-left: 2px solid $baseColor;
    height: 3890px;
  }
}

.plan-items {
  margin: 66px 0 0 60px;

  .plan-items_block {
    margin-top: 60px;
    filter: blur(13px);

    &_loading {
      filter: none;
    }

    h2 {
      color: $baseColor;
      font-size: 28px;
      text-transform: uppercase;
    }

    &--content {
      margin-top: 6px;
      border-left: 1px solid #4b4b4b;

      p {
        margin: 0px 0 0 57px;
        padding-top: 31px;
        width: 566px;
        font-size: 19px;
        line-height: 28px;
      }

      ul {
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 35px 0 0 -37px;

        li {
          list-style: none;
          margin-right: 13px;
          margin-top: 14px;
        }
      }
    }
    &--second-text {
      margin: 7px 0 0 57px;

      p {
        &:last-child {
          font-style: italic;
          margin-top: 14px;
          margin-left: 116px;
        }
      }
    }
  }
  .plan-items_block--list__text {
    p {
      &:nth-child(2) {
        margin: 14px 0 0 115px;
      }
    }
    .plan-items_block--content {
      margin: 6px 0 0 57px;
    }

    ul {
      margin: 21px 0 0 57px;
      justify-content: start;
    }
  }
}
