@import "./allModule.scss";
@import "./colors&fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.numbers {
  position: absolute;
  top: 210px;
  left: 20px;
}
