@import './allModule.scss';
@import './colors&fonts.scss';

body {
  font-family: 'JetBrains Mono NL';
  background-color: black;
  color: white;
}

.numbers {
  position: absolute;
  top: 210px;
  left: 20px;
}
