.header {
  width: 100%;

  .title-block {
    display: flex;

    h1 {
      margin: 134px 0 0 170px;
      position: absolute;
      font-size: 114px;
    }
  }

  .header-text {
    position: absolute;
    margin: 330px 0 0 390px;
    width: 744px;
    font-size: 19px;
    line-height: 28px;

    p {
      padding-bottom: 25px;
    }
  }
}
