.header {
  margin: 134px 0 0 170px;

  &__title-container {
    height: 150px;

    h1 {
      font-size: 114px;
    }
  }

  &_item {
    display: flex;
    width: 100%;
    justify-content: center;
    top: 150px;
  }

  .header-text {
    margin: 85px 0 0 220px;
    max-width: 744px;
    font-size: 19px;
    line-height: 28px;

    p {
      padding-bottom: 25px;
    }
  }
}
